[core]
  editor = nvim
  excludesFile = '~/.gitignore'
[push]
	autoSetupRemote = true
[user]
	name = Jacob Scott
	email = jscott2718@gmail.com
[http]
	postBuffer = 157286400
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
